<!-- BODY -->
<div class="wrapper">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h2 class="card-title" style="text-align: center;font-weight:bold;">Welcome To FlightBuzz!!!</h2>
     
      FlightBuzz is the airline of India, headquartered at New Delhi. It is owned by CTS private Limited. FlightBuzz operates a fleet of Airbus and Boeing aircraft serving 102 domestic and international destinations. The airline has its hub at Indira Gandhi International Airport, New Delhi, alongside several focus cities across India. It is the largest international carrier out of India with an 18.6% market share. Over 60 international destinations are served by Flightbuzz across four continents. The airline became the 27th member of Star Alliance on 18 Nov 2022
        <br />
      <button type="button" class="btn btn-primary signUpBtn">
        <a href="signup">SIGN UP</a>
      </button>
    </div>
  </div>

  <div class="card offer-card shadow-lg row-md-3 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">About Us</h3>
      <div class="row">
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user.png" height="200px" /><br /><br />
          <h5>Rohit Mishra</h5>
          <hr />
          <span class="info">
           IDE FSE Java<br>
           Cognizant Technology Solutions.
            <hr />
           
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user.png" height="200px" /><br /><br />
          <h5>Dharshini TSB</h5>
          <hr />
          <span class="info">
            IDE FSE Java<br>
            Cognizant Technology Solutions
            <hr />
            
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user.png" height="200px" /><br /><br />
          <h5>Alagar R</h5>
          <hr />
          <span>
            IDE FSE Java<br>
            Cognizant Technology Solutions
            <hr />
            
          </span>
        </div>
       
      </div>
    </div>
  </div>
  <!-- <div class="card contact-card shadow-lg p-3 mb-5 bg-white rounded">
                  <div class="card-body" style="padding-left: 150px; padding-right: 150px; padding-top: 50px; padding-bottom: 50px;">
                      <h3 class="card-title">Contact Us</h3>
                      <div class="row">
                          Full Name: <br>
                          <input class="form-control" type="text" name="fname"><br>
                          Email Address:<br>
                          <input class="form-control" type="email" name="email"><br>
                          Subject: <br>
                          <input class="form-control" type="text" name="subject"><br>
                          Message:<br>
                          <textarea class="form-control" name="message"></textarea>
                      </div>
                      <div class="row">
                          <div class="col-md-3 offset-md-9">
                              <button type="button" class="btn btn-success signUpBtn" (click)="sendMessage()">
                                  <a href="#">Send</a>
                              </button>
                          </div>
                      </div>
                  </div>
              </div> -->
</div>
<!-- BODY -->
